.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
dist
build
egg-info
.pytest_cache
.mypy_cache
.coverage
htmlcov
.tox
site
mkdocs.yml
docs/
tests/
scripts/
TODO.md
profile_load.prof
pyinstaller_command.md
resources/public/
