[Desktop Entry]
Type=Application
Version=1.0
Name=BLITZ
GenericName=Image Analysis
Comment=Explore large image datasets — viewer of the WETTER Framework
Exec=blitz
Icon=engineering.mess.BLITZ
Terminal=false
StartupNotify=true
Categories=Science;
Keywords=image;matrix;npy;analysis;science;bigdata;viewer
StartupWMClass=BLITZ
