[Desktop Entry]
Type=Application
Version=1.0
Name=BLITZ
GenericName=Image Analysis
Comment=Bulk Loading and Interactive Time series Zonal analysis
Exec=blitz
Icon=engineering.mess.BLITZ
Terminal=false
StartupNotify=true
Categories=Science;
Keywords=image;matrix;npy;analysis;thermal;science;
StartupWMClass=BLITZ
